ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

@font-face {
  font-family: "Roboto";
  src:
    local("Trickster"),
    url("@/assets/font/Roboto/Roboto-Regular.ttf") format("ttf"),
}